@import "common/var.css";
@b m {
    @e map-switch {
        height: 76px;
        cursor: pointer;
        -webkit-transition-property: width, background-color;
        transition-property: width, background-color;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        background-color: rgba(255, 255, 255, 0);
        @m item {
            display: inline-block;
        }
        @m spinner {
            height: 56px;
            width: 92px;
            background-color: #99a9bf;
            margin-right: 10px;
            border: 1px solid transparent;
            -webkit-transition-property: right, background-image;
            transition-property: right, background-image;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            position: relative;
            .map-item-text {
                position: absolute;
                padding: 0 5px;
                color: #fff;
                bottom: 0;
                right: 0;
            }
        }
        @m spinner:hover {
            border: 1px solid #1b8fe8;
            .map-item-text {
                background-color: #1b8fe8;
            }
        }
    }
}